.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 10px;
  height: 318px;
  margin-top: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 768px;
  }
}