:root {
  --main-bg-color: #4c90ff;
  --module: 8px;
  --border: 1px solid #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.messenger {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.messenger-header {
  color: #fff;
  background: var(--main-bg-color);
  padding: var(--module);
  line-height: calc(var(--module) * 5);
  font-weight: bold;
  text-align: center;
}

.main-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.users-section {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: var(--border);
}

.users,
.messages {
  height: calc(100vh - calc(var(--module) * 13));
  overflow: hidden;
  overflow-y: auto;
}

.users:empty:after {
  content: "No users in chat.";
  white-space: pre-wrap;
  text-align: center;
  font-style: italic;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - calc(var(--module) * 15));
  padding: var(--module);
}

.user {
  padding: var(--module);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.user-info {
  width: 100%;
  margin: 0 var(--module);
}

.user-info > * {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-avatar {
  min-width: calc(var(--module) * 5);
  min-height: calc(var(--module) * 5);
  max-width: calc(var(--module) * 5);
  max-height: calc(var(--module) * 5);
  background: #eee;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.user-fullname {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: capitalize;
}

.user-email {
  font-size: 0.9em;
  color: #999;
}

.user-actions {
  visibility: hidden;
}

.user:hover .user-actions {
  visibility: visible;
}

.user-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--module) * 6);
  border-top: var(--border);
}

.btn {
  background: #eee;
  border: none;
  outline: none;
  padding: 7px 14px;
  border-radius: 5em;
  color: var(--main-bg-color);
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.btn:active {
  opacity: 0.3;
}

.chat-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  padding: var(--module);
  padding-bottom: calc(var(--module) * 4);
}

.messages:empty:after {
  content: "No messages to display. \A\AInvite new users \Ato start a conversation.";
  white-space: pre-wrap;
  text-align: center;
  font-style: italic;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--module) * 17);
  padding: var(--module);
}

.msg {
  display: flex;
  align-items: flex-start;
  min-width: 10px;
  width: 40vw;
  max-width: 600px;
  margin-bottom: calc(var(--module) * 2);
}

.msg-text {
  margin: 0 var(--module);
  padding: var(--module);
  background: #eee;
  border-radius: var(--module);
  user-select: text;
}

.msg-text p {
  user-select: text;
}

.msg-text p + p {
  margin-top: var(--module);
}

.msg-time {
  align-self: flex-end;
  color: #999;
  font-size: 0.8em;
  visibility: hidden;
  font-style: italic;
}

.msg.me {
  flex-direction: row-reverse;
  float: right;
  padding-left: 50vw;
}

.msg.me .msg-text {
  background: var(--main-bg-color);
  color: #fff;
}

.msg.me .msg-time {
  margin-bottom: calc(var(--module) / 2);
}

.msg:hover .msg-time {
  visibility: visible;
}

.status-msg {
  text-align: center;
  width: 100%;
  color: #ccc;
  margin-bottom: var(--module);
  display: block;
  float: left;
  font-size: 0.8em;
}

.messages-list {
  position: relative;
}

.typing-status {
  position: absolute;
  bottom: var(--module);
  left: var(--module);
  font-size: 0.7em;
  font-style: italic;
  padding: var(--module);
  border-radius: var(--module);
  background: #eee;
  color: #999;
}

.typing-status:empty {
  visibility: hidden;
}

.users:empty .typing-status {
  display: none;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--module) * 6);
  border-top: var(--border);
}

.chat-input-msg {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: var(--module);
  resize: none;
}

.send-msg {
  margin: var(--module);
}
